<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="connection_string" connectionString="Data Source=GUERRA\SQLEXPRESS;Initial Catalog=Caixa;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ControleDeCaixas2.Properties.Settings.ConnectionString"
   connectionString="Data Source=GUERRA\SQLEXPRESS;Initial Catalog=Caixa;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>